{% extends 'base.html.twig' %}

{% block title %}Sklep internetowy{% endblock %}
{% block stylesheets %}
   <style>
      * {
         margin: 0;
         padding: 0;
      }
      .imgbox {
         display: grid;
         height: 100%;
      }
   .center-fit {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
   }
      img.resize {
         max-width:75%;
         max-height:75%;
      }
   </style>
{% endblock %}
{% block main %}
   <div class="jumbotron text-center">
      <img class ="centerfit resize" src="https://i.imgur.com/OVicB6v.png" alt="negocjacje">
   </div>
{% endblock %}