{% extends 'base.html.twig' %}

{% block main %}
    {% if errors %}
        {{ errors.messageKey }}
    {% endif %}
    <div class="text-center jumbotron">
    <form class="form-signin" action="{{ path('login') }}" method="post">
        <h1>Zaloguj się:</h1><br>
        <label for="username">Email: </label>
        <input type="text" name="_username" id="username" value="{{ username }}">
        <label for="password">Hasło: </label>
        <input type="password" name="_password" id="password"> <br><br>
        <button class="btn btn-lg btn-primary" type="submit">Zaloguj</button>
    </form>
    </div>
{% endblock %}